.infoBar {
    width: 100%;
    height: 50px;
    background-color: rgb(235, 213, 117);
    padding: 10px;
    box-sizing: border-box;
}

.close {
    float: right;
    margin: 10px;
    cursor: pointer;
}

.online {
    margin-left: 5px;
}